<div class='userCard'>
  <img class='userPic' src="<%= user.photo%>"/>
  <div class='userInfo'>
    <h3 class='userName'><a href="/users/<%=user.id%>"><%= user.name%></a></h3>
    <p class='postCount'>Number of posts: <%=user.posts_count%></P>
  </div>
</div>